.profile_header-contaienr {
    background-color: rgb(255, 154, 4);
    padding-bottom: 50px;
}

.profile_ico {
    color: black;
    font-size: 25px;
}

.profile_edit-ico {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 32px;
    color: #ffffff;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
}

.profile header {
    padding-top: 60px;
}

.profile_header_user-photo {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    display: block;
    border: 2px solid white;
    box-shadow: 0 0 10px 1px rgb(151, 81, 0);
    margin: auto;
}

.profile_header-user-info {
    margin-top: 30px;
    margin-left: 20px;
    color: white;
}

.profile_header-user-info__long {
    margin-left: 30px;
    margin-top: 17px;
}


.profile_heder_uid {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}


.profile_user-contacts-section {
    display: flex;
    justify-content: left;
    margin-left: 10vw;
}

.profile_user-contacts {
    position: relative;
    top: 30px;
    margin-bottom: 5px;
    color: white;
}

.profile_activity-section {
    display: flex;
    justify-content: space-between;
    margin: 0 5vh 0 5vh;
    margin-top: 10vh;
    text-align: center;
}

.profile_activity-num {
    font-weight: bold;
    font-size: 35px;
    color: white;
    font-family: montserrat-black;

}

.profile_activity-label {
    font-size: 17px;
    color: #ffffff96;
    font-weight: bold;
}

.profile .inbetweenline {
    margin-top: 40px;
    height: 10px;
    border: none;
    background-color: rgb(241, 241, 241);
}

.profile_sch_header {
    margin: 25px;
    font-size: 25px;
}

.profile_sch_txt {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    color: #d4d4d4;
}

.rece_back-btn-user-view {
    background-color: rgb(255, 160, 19) !important;
    border: none;
    font-size: 22px;
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
    color: rgb(214, 214, 214);
    text-decoration: none;
}

.profile_active-order-head {
    font-size: 20px;
    margin: 20px;
    color: rgb(36, 36, 36);
}

.profile_trafic__high {
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 7px 20px 20px;
}

.profile_trafic__low {
    color: #ff9900;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 7px 20px 20px;

}

.profile_trafic__normal {
    color: #00e932;
    font-weight: bold;
    font-size: 18px;
    margin: 20px 7px 20px 20px;



}

.trafci-txt-profile {
    display: flex;
    align-items: center;

}

.special-badge {
    font-size: 14px;
    color: rgb(53, 147, 255);
    font-weight: bold;
    margin-left: 30px;
    margin-top: 10px;
}

@media (min-width:852px) {
    .profile_content-container {
        margin: 0vh 0vw 0vh 0vw;
    }

    .profile_header_user-photo {
        margin-top: 50px;
        width: 125px;
        height: 125px;
        border-radius: 50%;
    }

    .profile_edit-ico {
        position: absolute;
        font-size: 25px;
        margin-top: 3px;
        color: #ffffff;
        border: 2px solid rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 50%;
        margin-right: 5vw;

    }

    .profile_user-contacts-section {
        display: flex;
        justify-content: left;
        margin-left: 13.5vw;

    }

    .profile_active-order-head {
        font-size: 25px;
        margin: 20px;
        color: rgb(36, 36, 36);
    }



    .profile_activity-label {
        font-size: 20px;
        color: #8a683b;
    }

    .profile_activity-num {
        font-weight: bold;
        font-size: 35px;
        color: #ffffff;
        font-family: montserrat-black;
        
    }

    .profile_activity-section {
        display: flex;
        justify-content: space-between;
        margin: 0 10vh 0 10vh;
        margin-top: 12vh;
        text-align: center;
    }


    .profile_heder_user-name {
        font-size: 35px;
        color: #ffffff;
        text-align: center;
        font-family: montserrat-ExtraBold;

    }

    .profile_heder_user-name__long {
        font-size: 30px;
        color: #ffffff;
        text-align: center;
        font-family: montserrat-ExtraBold;



    }

    .profile_heder_uid {
        color: rgba(255, 255, 255, 0.87);
        font-size: 30px;
    }

    .special-badge {
        font-size: 18px;
        color: rgb(53, 147, 255);
        font-weight: bold;
        margin-left: 30px;
        margin-top: 10px;
    }
    .profile_open-order-container {
        margin: 20px;
        height: fit-content;
        padding-bottom: 5px;
        font-size: 24px;
    }

    .order-container-in-profile {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        padding-bottom: 70px;
    }

}

@media (max-width:851px) {
    .profile_open-order-container {
        margin: 20px;
        height: fit-content;
        padding-bottom: 5px;
    }

    .order-container-in-profile {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        padding-bottom: 70px;
    }

    .profile_open-order_cart-header {
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
        color: rgb(255, 157, 29);

    }

    .profile_cart-items-continaer {
        margin-left: 25px;
        margin-bottom: 15px;
    }

    .profile_open-order_total {
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        margin-top: 18px;
        color: rgb(255, 157, 29);
    }

    .profile_open-order_tkt-type span {
        color: rgb(255, 157, 29);

        font-weight: bold;
    }

    .profile_no-open-order-msg {
        font-weight: bold;
        font-size: 22px;
    }

    .profile_heder_user-name {
        font-size: 34px;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: montserrat-Bold;
        margin-top: -10px;

    }

    .profile_heder_user-name__long {
        text-align: center;
        font-size: 30px;
        margin-top: -15px;
        color: white;

    }

    .profile_open-order-header {
        font-family: montserrat-ExtraBold;
        font-size: 30px;
        margin-bottom: 15px;
    }

}