.workshop_name {
    font-size: 25px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.workshop_burger-menu-icon {
    font-size: 28px;
    position: relative;
    bottom: 7px;
    margin-left: 15px;
}

.workhsops-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10vw 0 10vw;
}

.workshop_swap-ico {
    font-size: 30px;
    /* padding: 5px ;
    border: 1px solid #ffa229;
    border-radius: 50%; */
    color: #ffa229;
    position: relative;
    bottom: 5px;
}

@media (max-width:850px) {
    .workshop-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        overflow: hidden;
        position: relative;
        margin-bottom: 70px;

    }

    .workshop-container_img {
        width: 80vw;
        border-top: 5px solid black;
        /* border-radius:  25px 25px 0 0; */

    }



    .workshop-container_basic-info {
        background-color: black;
        color: white;
        width: 80vw;
        height: fit-content;
        padding-bottom: 10px;
        border-radius: 0 0px 25px 25px;


    }

    .workshop_workshop-level {
        font-weight: bold;
        font-size: 23px;
        padding: 10px 0 5px 10px;
    }

    .workshop_workshop-appointment {
        padding-left: 10px;
        font-size: 20px;
        opacity: .8;
    }

    .workshop_expand-ico {
        background-color: white;
        padding: 10px;
        font-size: 25px;
        border: none;
        box-shadow: 0 0 10px 1px rgb(163, 163, 163);

        border-radius: 25px;
        position: relative;
        left: calc(80vw - 60px);
        bottom: 25px;
        z-index: 100;

    }

    .workshop_basic-info-header {
        background-color: black;
        z-index: 15;
    }

    .workshop-container_basic-info .workshop-container_article {
        padding: 10px;
        position: relative;
        top: -310px;
        z-index: -1;
        height: 0px;
        transition: ease-in-out .4s;

    }


    .workshop-container_article__active {
        padding: 10px;
        position: relative;
        top: -0px !important;
        z-index: 1 !important;
        height: fit-content !important;
        transition: ease-in-out .3s;
    }

    .workshop_close-ico {
        position: absolute;
        top: 0;
        right: calc(10vw + 10px);
        top: 10px;
        border-radius: 50%;
        padding: 5px;

        font-weight: bold;
        font-size: 30px;
        background-color: black;
        color: white;
    }

    .workshop-container_basic-info article {
        font-size: 17px;
    }

    .workshop-container_basic-info article p {
        margin-bottom: 3px;
    }


    .workshop_article-list-title {
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .workshop_join-btn-pc {
        font-size: 30px;
        background-color: transparent;
        color: rgb(255, 166, 0);
        border: none;
        padding-bottom: 20px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .workshop_join-btn-pc span {
        font-size: 26px;
        font-weight: bold;
        position: relative;
        color: rgb(255, 166, 0);
        top: 1px;
    }
}


@media (min-width:851px) {
    .pspojfdslk {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 25px;
    }

    .workshop-container {
        display: flex;
        align-items: center;
        height: fit-content;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        margin-top: 50px;

    }

    .workshop-container_img {
        width: 20vw;
        border-top: 5px solid black;
        /* border-radius:  25px 25px 0 0; */

    }



    .workshop-container_basic-info {
        background-color: black;
        color: white;
        width: 20vw;
        height: fit-content;
        padding-bottom: 10px;
        border-radius: 0 0px 25px 25px;


    }

    .workshop_workshop-level {
        font-weight: bold;
        font-size: 23px;
        padding: 10px 0 5px 10px;
    }

    .workshop_workshop-appointment {
        padding-left: 10px;
        font-size: 20px;
        opacity: .8;
    }

    .workshop_expand-ico {
        background-color: white;
        padding: 10px;
        font-size: 25px;
        border: none;
        box-shadow: 0 0 10px 1px rgb(163, 163, 163);

        border-radius: 25px;
        position: relative;
        left: calc(20vw - 60px);
        bottom: 25px;
        z-index: 100;
        cursor: pointer;

    }

    .workshop_basic-info-header {
        background-color: black;
        z-index: 15;
    }

    .workshop-container_basic-info .workshop-container_article {
        padding: 10px;
        position: relative;
        top: -380px;
        z-index: -1;
        height: 0px;
        transition: ease-in-out .4s;

    }


    .workshop-container_article__active {
        padding: 10px;
        position: relative;
        top: -0px !important;
        z-index: 1 !important;
        height: fit-content !important;
        transition: ease-in-out .3s;
    }

    .workshop_close-ico {
        position: absolute;
        top: 25px;
        right: 25px;
        border-radius: 50%;
        padding: 5px;
        font-weight: bold;
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0.562);
        cursor: pointer;
        color: white;
    }

    .workshop-container_basic-info article {
        font-size: 17px;
    }

    .workshop-container_basic-info article p {
        margin-bottom: 3px;
    }


    .workshop_article-list-title {
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .workshop_join-btn-pc {
        font-size: 30px;
        background-color: transparent;
        color: rgb(255, 166, 0);
        border: none;
        padding-bottom: 20px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        text-align: center;
    }

    .workshop_join-btn-pc span {
        font-size: 26px;
        font-weight: bold;
        position: relative;
        color: rgb(255, 166, 0);
        top: 1px;
    }
}